<div class="row mt-4">
  <div
    class="col-md-6 d-none d-md-flex flex-column justify-content-center"
    style="min-height: 450px"
  >
    <div class="text-center side-heder">
      <h1>Cadastro de Usuário</h1>
      <img
        src="assets/registerImage.png"
        class="my-4 img-fluid"
        alt="Imagem de cadastro"
        style="max-width: 400px"
      />
    </div>
  </div>

  <div class="col-md-6">
    <form class="p-1" novalidate>
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>

      <div class="row">
        <div class="col-sm-6 mb-3">
          <label for="firstName" class="form-label">Primeiro Nome</label>
          <input
            id="firstName"
            name="firstName"
            type="text"
            class="form-control"
            placeholder="Primeiro nome"
            autocomplete="given-name"
          />
        </div>
        <div class="col-sm-6 mb-3">
          <label for="lastName" class="form-label">Último Nome</label>
          <input
            id="lastName"
            name="lastName"
            type="text"
            class="form-control"
            placeholder="Último nome"
            autocomplete="family-name"
          />
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          name="email"
          type="email"
          class="form-control"
          placeholder="Seu email"
          autocomplete="email"
        />
      </div>

      <div class="mb-3">
        <label for="username" class="form-label">Usuário</label>
        <input
          id="username"
          name="username"
          type="text"
          class="form-control"
          placeholder="Nome de usuário"
          autocomplete="username"
        />
      </div>

      <div class="row">
        <div class="col-sm-6 mb-3">
          <label for="password" class="form-label">Senha</label>
          <input
            id="password"
            name="password"
            type="password"
            class="form-control"
            placeholder="Senha"
            autocomplete="new-password"
          />
        </div>
        <div class="col-sm-6 mb-3">
          <label for="confirmPassword" class="form-label">Confirmar Senha</label>
          <input
            id="confirmPassword"
            name="confirmPassword"
            type="password"
            class="form-control"
            placeholder="Confirme a senha"
            autocomplete="new-password"
          />
        </div>
      </div>

      <div class="mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="terms" name="terms" />
          <label class="form-check-label" for="terms">
            Eu concordo com os <a href="#">Termos de Uso</a>.
          </label>
        </div>
      </div>

      <div class="mb-3">
        <button class="btn btn-success w-100">Registrar</button>
      </div>

      <div class="mb-2">
        <a class="btn btn-link w-100 text-decoration-none" routerLink="/user/login"
          >Já sou cadastrado</a
        >
      </div>
    </form>
  </div>
</div>
